body {
    font-family: Arial, sans-serif;
    background-color:  #006400;
    color: black;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  #beachCarousel {
  margin-top: 0;      /* remove top gap of carousel */
}
  h1 {
    color: blue;
    font-size: 2.5em;
  }
  nav {
    background-color: blue;
    padding: 15px;
  }
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
  }
  nav a:hover {
    text-decoration: underline;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  div {
    margin-bottom: 30px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  ul, ol {
    text-align: left;
    margin: auto;
    width: 70%;
  }
  footer {
    background: blue;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
  }
  