body {
    background-color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  color: white;
}
#beachCarousel {
  margin-top: 0;      /* remove top gap of carousel */
}

div {
  margin-bottom: 20px;
}

h1 {
  color: darkolivegreen;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

h2 {
  color: lightseagreen;
  font-size: 22px;
  border-bottom: 2px solid lightseagreen;
  padding-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: black;
}

a {
  color: lightseagreen;
  font-weight: bold;
  margin-right: 15px;
}

a:hover {
  text-decoration: underline;
}

img {
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

ul, ol {
  padding-left: 20px;
}

ul li, ol li {
  font-size: 16px;
  margin-bottom: 5px;
}

div a {
  background-color: lightseagreen;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  display: inline-block;
}

div a:hover {
  background-color: lightseagreen;
}

.destination-overview, .activities, .nearby-attractions, .restaurants, .travel-tips {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  background-color:lightseagreen;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

footer a {
  color:black;
}

footer a:hover {
  color: black;
}
